@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Sans:700|PT+Serif");
* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
button {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

html {
  font-size: 16px; }

body {
  color: #2f2f2f;
  font-family: "Pt Serif";
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pt Sans";
  font-weight: 900; }

h1 {
  font-size: calc(0.5 * 5.61em);
  font-family: "PT Sans Narrow";
  text-transform: uppercase; }

h2 {
  font-size: calc(0.5 * 4.209em); }

h3 {
  font-size: calc(0.5 * 3.157em); }

h4 {
  font-size: calc(0.5 * 2.369em); }

h5 {
  font-size: calc(0.5 * 1.777em); }

h6 {
  font-size: calc(0.5 * 1.333em); }

p {
  font-size: 1em;
  max-width: 32rem;
  padding: .4rem 0; }

small {
  font-size: .8em;
  color: grey; }

a {
  outline: none;
  text-decoration: none;
  color: darkred; }
  a:visited {
    color: darkred; }
  a:hover, a:focus {
    color: red; }

i {
  font-style: italic; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

html {
  font-size: 16px;
  height: 100%; }

body {
  font-size: 100%;
  height: 100%; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column; }

.header {
  padding: 1rem;
  font-weight: 900; }
  .header:after {
    content: '';
    display: block;
    height: .5rem;
    width: 5rem;
    background-color: #000; }

.main {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  flex: 1; }

.footer {
  padding: 1rem;
  display: flex; }

.latest-event {
  flex: 1 1 80%;
  padding: 1rem; }

.latest-event__artists li {
  display: inline; }
  .latest-event__artists li:after {
    content: ' | '; }
  .latest-event__artists li:last-child:after {
    content: ''; }

.previous-events {
  padding: 1rem;
  flex: 1 1 20%; }

.previous-events__list li {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  border-bottom: 1px dotted grey; }

.page-event {
  padding: 1rem;
  flex: 1 1 100%; }
