@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Sans:700|PT+Serif");
* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
button {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

html {
  font-size: 16px; }

body {
  color: #5b423b;
  font-family: "Pt Serif";
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pt Sans";
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: .5rem; }

h1 {
  font-size: calc(.8 * 5.61em);
  font-family: "PT Sans Narrow";
  text-transform: uppercase; }

h2 {
  font-size: calc(.8 * 4.209em); }

h3 {
  font-size: calc(.8 * 3.157em); }

h4 {
  font-size: calc(.8 * 2.369em); }

h5 {
  font-size: calc(.8 * 1.777em); }

h6 {
  font-size: calc(.8 * 1.333em); }

@media screen and (min-width: 420px) {
  h1 {
    font-size: 5.61em; }
  h2 {
    font-size: 4.209em; }
  h3 {
    font-size: 3.157em; }
  h4 {
    font-size: 2.369em; }
  h5 {
    font-size: 1.777em; }
  h6 {
    font-size: 1.333em; } }

p {
  font-size: 1em;
  max-width: 32rem;
  padding: .4rem 0;
  text-align: justify; }

small {
  font-size: .8em; }

a {
  outline: none;
  text-decoration: none;
  color: #A82200;
  transition: .2s; }
  a:visited {
    color: #A82200; }
  a:hover, a:focus {
    text-shadow: 2px 2px #ffff9d;
    color: #00a338; }

i {
  font-style: italic; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #FFFFf0; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column; }

.header {
  white-space: nowrap;
  padding: 2vh 2vw;
  font-weight: 900; }

.main {
  padding: 2vh 2vw;
  display: flex;
  flex-flow: row wrap;
  flex: 1; }

.footer {
  padding: 2vh 2vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  white-space: nowrap; }

.latest-event {
  flex: 1 1 66%;
  border-left: 4px solid #A82200;
  padding: 2vh 2vw; }

.latest-event__title {
  font-weight: 900; }

.latest-event__date {
  font-weight: 900;
  font-style: italic; }

.latest-event__artists li {
  display: inline; }
  .latest-event__artists li:after {
    content: ' | '; }
  .latest-event__artists li:last-child:after {
    content: ''; }

.previous-events {
  padding: 2vh 2vw;
  flex: 1 1 33%; }

.previous-events__link {
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  margin: 1rem 0; }

.previous-events__date {
  font-style: italic; }

.previous-events__excerpt:after {
  content: '...'; }

.page-event {
  border-left: 4px solid #A82200;
  padding: 2vh 2vw;
  flex: 1 1 100%; }

.page-event__subtitle {
  font-weight: 900; }

.page-event__date {
  font-weight: 900;
  font-style: italic; }
