@import 'reset';
@import 'typography';
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    text-align: left;
    padding: 2vh 2vw;
    font-weight: 900;
}

.header__subtitle {
    padding: 0 0 0 4px;
}

.main {
    padding: 2vh 2vw;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.footer {
    padding: 2vh 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    white-space: nowrap;
}

.latest-event {
    flex: 1 1 66%;
    border-left: 4px solid $color-primary;
    padding: 2vh 2vw;
}

.latest-event__title {
    font-weight: 900;
}

.latest-event__date {
    font-weight: 900;
    font-style: italic;
}

.latest-event__artists {
    li {
        display: inline;
        &:after {
            content: ' | ';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}

.latest-event__sponsors {
    li {
        display: inline;
        &:after {
            content: ' | ';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}

.previous-events {
    padding: 2vh 2vw;
    flex: 1 1 33%;
}

.previous-events__list {
    li {
        display: flex;
        align-items: baseline;
        padding: .4rem 0;
    }
}

.previous-events__link {
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    margin-right: 1rem;
}

.previous-events__date {
    padding: .4rem 0;
    font-style: italic;
}

.previous-events__excerpt {
    &:after {
        content: '...';
    }
}

.event-details {
    border-left: 4px solid $color-primary;
    padding: 2vh 2vw;
    flex: 1 1 66%;
}

.event-details__subtitle {
    font-weight: 900;
}

.event-details__date {
    font-weight: 900;
    font-style: italic;
}

.event-details__address {
    span {
        display: block;
    }
}

.event-details__sponsors {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    li {
        flex: 0 1 100%; // overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
    }
}

.event-details__logo {
    padding: .5rem;
    width: auto;
    height: 100%;
    max-height: 128px;
}

.event-artists {
    padding: 2vh 2vw;
    flex: 1 1 33%;
}

.artist-description {
    position: relative;
    border-left: 4px solid $color-primary;
    padding: 2vh 2vw;
    flex: 1 1 66%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    li {
        padding-bottom: .2rem;
        &:before {
            display: inline-block;
            content: '';
            margin: .2rem 5px;
            background-color: $color-primary;
            height: .25rem;
            width: .25rem;
        }
    }
    img {
        // margin: 1rem;
        height: 256px;
        width: auto;
        border: 2px solid $color_primary;
    }
}

.artist-details {
    padding: 2vh 2vw;
    flex: 1 1 33%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.artist-details__links {
    li {
        padding: .5rem 0;
    }
}

.artist-details__photo {
    display: flex;
    overflow: hidden;
    border: 2px solid $color-primary;
    flex: 0 1 256px;
    width: 256px;
    justify-content: center;
    align-items: center;
    img {
        min-width: 100%;
        flex: none;
    }
}