@import 'reset';
@import 'typography';
html {
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

.header {
    padding: 2vh 2vw;
    font-weight: 900; // background-color: lavender;
    &:after {
        content: '';
        display: block;
        height: .5rem;
        width: 5rem;
        background-color: #000;
    }
}

.main {
    padding: 2vh 2vw;
    display: flex;
    flex-flow: row wrap;
    flex: 1;
}

.footer {
    padding: 2vh 2vw;
    display: flex;
}

.latest-event {
    flex: 1 1 66%; // background-color: khaki;
    padding: 2vh 2vw;
}

.latest-event__artists {
    li {
        display: inline;
        &:after {
            content: ' | ';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
}

.previous-events {
    // background-color: peachpuff;
    padding: 2vh 2vw;
    flex: 1 1 33%;
}

.previous-events__list {
    li {
        display: flex;
        flex-flow: column;
        white-space: nowrap;
    }
}

.page-event {
    padding: 2vh 2vw;
    flex: 1 1 100%;
}