@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Sans:700|PT+Serif');
$heading: 'PT Sans Narrow';
$subheading: 'Pt Sans';
$text: 'Pt Serif';
$color-body: #5b423b;
// $color-body: #33130B;
// $color-primary: #ff6138;
$color-primary: #A82200;
$color-secondary: #007da3;
$color-secondary-l1: #4590a3;
$color-secondary-l2: #6497a3;
$color-secondary-l3: #ebe7ff;
// $color-secondary: #00a338;
// $color-secondary-l1: #79bd8f;
// $color-secondary-l2: #beeb9f;
// $color-secondary-l3: #ffff9d;
html {
    font-size: 16px;
}

body {
    color: $color-body;
    font-family: $text;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $subheading;
    font-weight: 900;
    line-height: 1.2;
}

h1 {
    font-size: 20vw;
    font-family: $heading;
    text-transform: uppercase;
}

h2 {
    font-size: calc(.8 * 4.209em);
}

h3 {
    font-size: calc(.8 * 3.157em);
}

h4 {
    font-size: calc(.8 * 2.369em);
}

h5 {
    font-size: calc(.8 * 1.777em);
}

h6 {
    font-size: calc(.8 * 1.333em);
}

@media screen and (min-width: 446px) {
    h1 {
        font-size: 5.61em;
    }
    h2 {
        font-size: 4.209em;
    }
    h3 {
        font-size: 3.157em;
    }
    h4 {
        font-size: 2.369em;
    }
    h5 {
        font-size: 1.777em;
    }
    h6 {
        font-size: 1.333em;
    }
}

p {
    font-size: 1em;
    max-width: 32rem;
    padding: .4rem 0; // text-align: justify;
}

small {
    font-size: .8em;
}

a {
    outline: none;
    text-decoration: none;
    color: $color-primary;
    transition: .2s;
    display: inline-block;
    &:visited {
        color: $color-primary;
    }
    &:hover,
    &:focus {
        text-shadow: 2px 2px $color-secondary-l3;
        color: $color-secondary;
    }
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}